.search-result-container {
  margin: 10px auto 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filter-container,
.list-container {
  width: 750px;
  display: flex;
  justify-content: center;
}

.list-container-inner {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
}

.filter-container-column {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.view-type-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.filter-container button {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #98a3ad;
  color: #98a3ad;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 5px 1px rgba(76, 76, 76, 0.2);
}

.view {
  width: 65px;
}

ul {
  margin-top: 10px;
  padding: 0;
}

.filter.open,
button.active {
  background-color: #25807a;
  color: white;
  border: none;
}

.list-container-inner.column-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
}

.map-view-container {
  width: 750px;
}

.preview-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #98a3ad;
  color: #98a3ad;
}

.preview-btn.close {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #f15e54;
  color: white;
}

@media (width <=480px) {
  .filter-container,
  .list-container,
  .map-view-container {
    min-width: 300px;
    width: 100%;
  }
}

@media (width >=481px) and (width <=850px) {
  .filter-container,
  .list-container,
  .map-view-container {
    min-width: 460px;
    width: 100%;
  }
}
