.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/landingbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.search-form.submitted {
  background-image: none;
  height: fit-content;
  padding: 0 15px;
}

.search-form-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.form-container {
  display: flex;
  width: 750px;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 5px 1px rgba(76, 76, 76, 0.2);
}

.form-container-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 94%;
}

.form-container input,
.clear-btn,
.submit-btn {
  background: none;
  border: none;
}

.clear-btn,
.submit-btn {
  width: 30px;
  height: 30px;
}

.clear-icon,
.submit-icon {
  height: 100%;
  width: auto;
  color: #25807a;
  padding: 0;
}

.form-container input {
  width: 100%;
  height: 30px;
  font-size: 16px;
  text-align: center;
}

.form-container input:focus {
  outline: none;
  text-align: left;
}

.current-location-btn {
  font-size: 16px;
  display: block;
  width: 750px;
  height: 50px;
  border: none;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 5px;
  box-shadow: 0 0 5px 1px rgba(76, 76, 76, 0.2);
}

.current-location-err {
  margin-top: 20px;
  font-size: 16px;
}

@media (width <= 480px) {
  .form-container,
  .current-location-btn {
    width: 100%;
    min-width: 300px;
    height: 40px;
  }

  .search-form {
    padding: 0 15px;
  }
}

@media (width >= 481px) and (width <= 850px) {
  .form-container,
  .current-location-btn {
    min-width: 460px;
    width: 100%;
  }
}
