.search-result-list {
  list-style-type: none;
  display: flex;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 1px 9px 1px rgba(76, 76, 76, 0.2);
  transition: all 0.2s ease-in-out;
}

.search-result-list:hover {
  box-shadow: 2px 1px 9px 1px rgba(76, 76, 76, 0.4);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.img-bookmark {
  flex-basis: 150px;
  position: relative;
}

.bookmark-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  flex: 1;
  height: 100%;
  background-color: white;
}

.description-inner {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.description-inner-row-one {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

h4 {
  font-size: 24px;
  margin: 0;
}

p {
  margin: 0;
}

.description-inner p {
  font-size: 16px;
  line-height: 1.4;
}

.rate-container {
  padding-top: 3px;
  display: flex;
  gap: 1px;
  align-items: center;
}

.description-rating {
  padding-left: 7px;
}

.review-count {
  color: #98a3ad;
}

.star-icon {
  width: 16px;
  height: 16px;
  color: #ffc368;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #616161;
  opacity: 75%;
  z-index: 99;
}

.modal-content {
  width: 230px;
  height: 120px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
}

.modal-content h4 {
  width: fit-content;
}

.modal-btn {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.modal-btn button {
  width: 80px;
  height: 24px;
}

.modal-btn .cancel-btn {
  background-color: #fff;
}

.modal-btn .delete-btn {
  color: #fff;
  background-color: #f15e54;
  border: none;
}

.bookmark-btn svg {
  filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.5));
}

@media (width <=480px) {
  .search-result-list {
    min-width: 345px;
    overflow: hidden;
  }

  h4 {
    font-size: 16px;
  }
}

@media (width >=481px) and (width <=850px) {
  h4 {
    font-size: 18px;
  }
}
