.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #fff;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 74px;
}

.logo {
  padding-top: 7px;
}

.logo img {
  width: 140px;
}

.menu-icon {
  cursor: pointer;
  height: 32px;
  display: none;
}

.bslist-icon {
  color: #25807a;
  font-size: 32px;
}

.shade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.menu-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  gap: 12px;
}

.menu-vertical {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 200px;
  height: 100vh;
  background-color: #fff;
  margin: 0;
  padding: 60px 30px;
  transition: transform 0.3s ease;
  z-index: 999;
}

.menu-vertical.open {
  transform: translateX(0);
}

li {
  list-style: none;
  width: fit-content;
}

.menu-vertical li {
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}

.title {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.menu-horizontal .title {
  color: #25807a;
}

.menu-vertical .title {
  color: #000;
  font-size: 24px;
}

.menu-horizontal li:hover .title {
  color: #ff9334;
}

.menu-vertical li:hover {
  transform: translateX(20px);
}

.menu-vertical li:hover .title {
  color: #25807a;
}

.menu-vertical .dog-icon {
  display: none;
}

.menu-horizontal .dog-icon {
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.3s ease;
  padding-right: 5px;
}

.menu-horizontal li:hover .dog-icon {
  clip-path: inset(0);
}

.menu-vertical li:hover .dog-icon {
  display: inline;
  margin-right: 10px;
}

@media (width <=850px) {
  .menu-icon {
    display: block;
  }

  .menu-horizontal {
    display: none;
  }
}
